<ion-header>
  <ion-navbar>
    <ion-title>
      Reactive Form
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p class="center">
    <ion-icon name="contact" primary class="large lighter"></ion-icon>
  </p>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" novalidate>
    <ion-list >
      <ion-item>
        <ion-label flating>Username</ion-label>
        <ion-input type="text" formControlName="username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label flating>Email</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label flating>Password</ion-label>
        <ion-input type="password" formControlName="pass"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label flating>Confirm Password</ion-label>
        <ion-input type="password" formControlName="repass"></ion-input>
      </ion-item>

      <ion-item text-wrap class="error">
        <div *ngIf="registerForm.controls['username'].dirty &&
          registerForm.controls['username'].invalid">
          Username should at least have 10 characters.
        </div>
        <div *ngIf="registerForm.controls['email'].dirty &&
          registerForm.controls['email'].invalid">
          Email is incorrect.
        </div>
        <div *ngIf="registerForm.controls['pass'].dirty &&
          registerForm.controls['pass'].invalid">
          Password should be 8 characters long.
        </div>
        <div *ngIf="registerForm.controls['repass'].dirty &&
          registerForm.controls['repass'].invalid">
          Choose same password in confirm password field.
        </div>
      </ion-item>
    </ion-list>
    <button ion-button full type="submit" [disabled]="registerForm.invalid">Register</button>
  </form>

</ion-content>
