page-home {
    .center {
        text-align: center;
    }
    .gray-bg {
        background-color: #f4f4f7;
    }
    .icon-large {
        font-size: 150px;
        color: #387ef5;
        opacity: 0.5;
    }
}
